.text {
  margin: 0;
  font-family: var(--font-body);
  font-synthesis: none;
  overflow-wrap: anywhere;
}
.default {
  color: var(--color-text);
}
.muted {
  color: var(--color-text-muted);
}
.subtle {
  color: var(--color-text-subtle);
}
.caption2 {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.caption1 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.body1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.subtitle2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.subtitle1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.title3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.title2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}
.title1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.largeTitle {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
}
.display {
  font-size: 68px;
  line-height: 92px;
  font-weight: 600;
}
